<!--[if IE 9]>
    <script src="//cdn.rawgit.com/jpillora/xdomain/0.7.3/dist/xdomain.min.js" slave="https://lit-inlet-2632.herokuapp.com/web/IE9/proxy.html"></script>
<![endif]-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/fairfax/internal.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/fairfax/care.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/message.css" type="text/css" media="screen" />

<div class="main" ng-app="App">
	<div ng-controller="Fairfax as fx" set-type="nz-care" >
		<div class="row">
			<div class="row col-xs-9 contentColumn">
				<div class="col-xs-12">
				<img class="pull-left main-logo" src="images/fx.jpg">
				<h2 class="header main-header pull-left">New Zealand Care Knowledge Base</h2>
				<div style="clear:both;"></div>
				<ul class="breadcrumb text-left"></ul>
			
				<form id="pubSearch" ng-submit="fx.pubSearch(fx.pubNameSearch)">
							<label class="myLabel searchLabel">Search for publication or select logo below: </label>
							<search-plus-dropdown 
								ng-init="fx.getSuburbPublications()" 
								model="fx.pubNameSearch" 
								click-action="fx.select(param, care)"
								is-care="true"
								data="fx.subPubs">
							</search-plus-dropdown>
				</form>
				<div class="row row-centered pubs">
					<div class="col-xs-4 logo text-center" 
						ng-click="fx.select({ name: 'The Dominion Post', id: 51 }, true)">
						<img pub src="images/fairfax/dp.jpg" alt="Dominion Post">
					</div>
					<div class="col-xs-4 logo" 
						ng-click="fx.select({ name: 'Manawatu Standard', id: 59 }, true)">
						<img pub src="images/fairfax/ms.png" alt="Manawatu Standard">
					</div>
					<div class="col-xs-4 logo" 
						ng-click="fx.select({ name: 'Marlborough Express', id: 22 }, true)">
						<img pub src="images/fairfax/marl.png" alt="Marlborough Express">
					</div>
					<div class="col-xs-4 logo" 
						ng-click="fx.select({ name: 'Nelson Mail', id: 48 }, true)">
						<img pub src="images/fairfax/nelson_mail.jpg" alt="Nelson Mail">
					</div>
					<div class="col-xs-4 logo" 
						ng-click="fx.select({ name: 'The Press', id: 17 }, true)">
						<img pub src="images/fairfax/press.jpg" alt="The Press">
					</div>
					<div class="col-xs-4 logo" 
						ng-click="fx.select({ name: 'Southland Times', id: 42 }, true)">
						<img pub src="images/fairfax/s_times.jpg" alt="Southland Times">
					</div>
					<div class="col-xs-4 logo" 
						ng-click="fx.select({ name: 'Sunday Star Times', id: 122 }, true)">
						<img pub src="images/fairfax/sst.png" alt="Sunday Star Times">
					</div>
					<div class="col-xs-4 logo" 
						ng-click="fx.select({ name: 'Taranaki Daily News', id: 64 }, true)">
						<img pub src="images/fairfax/Taranaki_NZ.jpg" alt="Taranaki NZ">
					</div>
					
					<div class="col-xs-4 logo" 
						ng-click="fx.select({ name: 'The Timaru Herald', id: 26 }, true)">
						<img pub src="images/fairfax/timaru.jpg" alt="Timaru Times">
					</div>
					<div class="col-xs-4 logo" 
						ng-click="fx.select({ name: 'Waikato Times', id: 30 }, true)">
						<img pub src="images/fairfax/waikatotimes.jpg" alt="Waikato Times">
					</div>
				</div>
				<div ng-hide="fx.inited" class="main-alert alert alert-info">Select a Publication to see information specific to that publication.</div>
				<div ng-show="fx.inited" class="row row-centered tabContainer">
					<h1 class="header">NZ Care Info  
						<span class="bold" ng-show="fx.selected"> for {{ fx.selected.name }} </span>
					</h1>
					<div class="input-group mc">
						<span class="input-group-btn">
							<button class="custom btn btn-sm"><i class="fa fa-search fa-2x"></i></button>
						</span>
						<input type="text" class="form-control master" ng-model="masterFilter" placeholder="begin typing to see filtered results">
					</div>
					<div ng-if="fx.selected.mag" class="alert alert-warning mag">
						{{ fx.selected.name }} is a magazine.
						<p ng-if="fx.selected.se"> This is a Special Edition for {{ fx.selected.parent }} </p> 
					</div>										
					<div class="col-xs-4">
						<div class="peter-river-flat-button category">
							Marketing Campaigns
							<div ng-hide="fx.marketing && fx.marketing.length > 0" class="alert alert-warning">
								No documents with tag <span>{{ fx.tagPrefix }}-marketing<span>
							</div>
							<div class="links text-left">
								<a 	ng-href="{{doc.resources.html.ref}}" target="_blank"
									ng-repeat="doc in fx.marketing | filter:masterFilter" >
								<!-- <i class="fa fa-connectdevelop"></i> --> 
								{{ fx.parseSubject(doc.subject) }}
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="peter-river-flat-button category">
							Geos & Mastheads
							<div ng-hide="fx.geos && fx.geos.length > 0" class="alert alert-warning">
								No documents with tag <span>{{ fx.tagPrefix }}-geos<span>
							</div>
							<div class="links text-left">
								<a 	ng-href="{{doc.resources.html.ref}}" target="_blank"
									ng-repeat="doc in fx.geos | filter:masterFilter" >
								<!-- <i class="fa fa-connectdevelop"></i> -->
								{{ fx.parseSubject(doc.subject) }}
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="peter-river-flat-button category">
							Processes
							<div ng-hide="fx.process && fx.process.length > 0" class="alert alert-warning">
								No documents with tag <span>{{ fx.tagPrefix }}-process<span>
							</div>
							<div class="links text-left">
								<a 	ng-href="{{doc.resources.html.ref}}" target="_blank"
									ng-repeat="doc in fx.process | filter:masterFilter" >
								<!-- <i class="fa fa-connectdevelop"></i> -->
								{{ fx.parseSubject(doc.subject) }}
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="launchers row">
					<div class="col-xs-2">
						<button id="red-cutoff" class="custom btn" ng-click="fx.getRedPubs()">Red. Cutoffs</button>
					</div>
					<div class="col-xs-2 text-center">
						<a target="_blank" href="http://www.streetlink.com.au/nz/qm/Login.aspx">
							<img class="extLink" src="images/fairfax/pmp.jpg" alt="PMP">
						</a>
					</div>
					<div class="col-xs-2 text-center">
						<a target="_blank" href="http://www.fairfaxmedia.co.nz/portfolio-nz/advertising-in-newspapers#tabs-5">
							<img class="extLink" src="images/fairfax/fcn.gif" alt="FCN">
						</a>
					</div>
					<div class="col-xs-2 text-center">
						<a target="_blank" href="https://www.nzpost.co.nz/tools/address-postcode-finder">
							<img class="extLink" src="images/fairfax/nzp.jpg" alt="Post Code Finder">
						</a>
					</div>
					<div class="col-xs-2 text-center">
						<a target="_blank" href="https://admin.paystation.co.nz/login.php?acquirer_code=BNZ">
							<img class="extLink" src="images/fairfax/bnz.jpg" alt="Paystation">
						</a>
					</div>
					<div class="col-xs-2 text-center">
						<a target="_blank" href="http://www.stuff.co.nz/">
							<img class="extLink" src="images/fairfax/stuffnz.jpg" alt="Stuff NZ">
						</a>
					</div>
				</div>
				<div ng-show="fx.inited" class="row row-centered tabContainer">
					<div class="col-xs-4">
						<div class="peter-river-flat-button category">
							Systems
							<div ng-hide="fx.system && fx.system.length > 0" class="alert alert-warning">
								No documents with tag <span>{{ fx.tagPrefix }}-system<span>
							</div>
							<div class="links text-left">
								<a 	ng-href="{{doc.resources.html.ref}}" target="_blank"
									ng-repeat="doc in fx.system | filter:masterFilter" >
								<!-- <i class="fa fa-connectdevelop"></i> -->
								{{ fx.parseSubject(doc.subject) }}
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="peter-river-flat-button category">
							Rates
							<div ng-hide="fx.rates && fx.rates.length > 0" class="alert alert-warning">
								No documents with tag <span>{{ fx.tagPrefix }}-rates<span>
							</div>
							<div class="links text-left">
								<a 	ng-href="{{doc.resources.html.ref}}" target="_blank"
									ng-repeat="doc in fx.rates | filter:masterFilter" >
								<!-- <i class="fa fa-connectdevelop"></i> -->
								{{ fx.parseSubject(doc.subject) }}
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="peter-river-flat-button category">
							Billing
							<div ng-hide="fx.billing && fx.billing.length > 0" class="alert alert-warning">
								No documents with tag <span>{{ fx.tagPrefix }}-billing<span>
							</div>
							<div class="links text-left">
								<a 	ng-href="{{doc.resources.html.ref}}" target="_blank"
									ng-repeat="doc in fx.billing | filter:masterFilter" >
								<!-- <i class="fa fa-connectdevelop"></i> -->
								{{ fx.parseSubject(doc.subject) }}
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-centered tabContainer altRow">
					<div class="col-xs-4">
						<div class="peter-river-flat-button category">
							Top Call Drivers
							<div ng-hide="fx.top && fx.top.length > 0" class="alert alert-warning">
								No documents with tag <span>nz-care-top<span>
							</div>
							<div class="links text-left">
								<a 	ng-href="{{doc.resources.html.ref}}" target="_blank"
									ng-repeat="doc in fx.top | filter:masterFilter" >
								<!-- <i class="fa fa-connectdevelop"></i> -->
								{{ fx.parseSubject(doc.subject) }}
								</a>
							</div>
						</div>
					</div>
					<!-- <div class="col-xs-4">
						<div class="peter-river-flat-button category alt">
							Retentions
							<div class="links text-left">
								<div class="links text-left">
									<a target="_blank" href="#">
										<a 
											open-overlay="fx.showDocOverlay" 
											opendoc="DOC-1601" 
											get-comments="fx.getComments(doc)">
											 <i class="fa fa-connectdevelop"></i>
											Retentions Link</a>
									</a>
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-xs-4">
						<div ng-show="fx.inited" class="peter-river-flat-button category">
							Other
							<div ng-hide="fx.other && fx.other.length > 0" class="alert alert-warning">
								No documents with tag <span>{{ fx.tagPrefix }}-other<span>
							</div>
							<div class="links text-left">
								<a 
									ng-repeat="doc in fx.other" 
									open-overlay="fx.showDocOverlay"
									get-comments="fx.getComments(doc)"
									opendoc="{{fx.getDocNum(doc)}}">
								 <i class="fa fa-connectdevelop"></i>
								{{ fx.parseSubject(doc.subject) }}
								</a>
							</div>
						</div>
					</div> -->
				</div>
				</div>
				<iframe src="https://docs.google.com/a/fairfaxmedia.co.nz/forms/d/1TtgUXuUZn_jbGDXwMMybgvbx8H-Wwi6h6_i77DRD1Cw/viewform" frameborder="0"></iframe>
			</div>
			<div class="col-xs-3 gamificationColumn">
				<div class=" widgetContainer">
					<div class=" gameContainer">
						<div class="row text-center">
							<h4 class="gHeader">Top Missions</h4>
							<div class="gInfo">Hover over a badge to see its description.</div>
							<div class="col-xs-1 text-center gBadge" ng-repeat="m in fx.top_three">
								<img show-title game="m" ng-src="{{m.badge_url}}" ng-alt="{{ m.bunchball_name }}" >
								<div class="gTitle hide"> {{ m.bunchball_name }} </div>
								<div class="gDescContainer" ng-if="m.game_type == 'EmpowerMission'">
									<span class="gDesc"> {{ m.game.metric_name }} </span>
									<span class="gDesc">Target: {{ m.game.target }} </span>
								</div>
								<div class="gDescContainer" ng-if="m.game_type == 'JiveMission'">
									<span class="gDesc"> Jive Mission </span>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="text-center">
						<a id="toGame" class="btn btn-sm btn-success" ng-click="cdc.go('gamification-central')">Gamification Home</a>
					</div> -->
					<leaderboard people="fx.leaders" user="fx.currentUser"></leaderboard>
				</div>
			</div>
			<search-overlay show-on="fx.showSearchOverlay">
				<i class="fa fa-close fa-3x pull-right"></i>
				<div ng-switch="fx.overlayView">
					<div class="text-center" ng-switch-when="redelivery">
						<h1>Redelivery Information</h1>
						<h4 style="font-weight: 200;">Search by Round ID, Town or Select Parent Publication Below</h4>
						<p style="color:red; font-weight: bold;">NOTE: Round IDs not on tool means No redelivery</p>
						<div class="row row-centered">
							<div class="col-xs-6 col-centered">
								<form ng-submit="fx.searchRed(fx.search.term)">
									<div class="input-group">
										<span class="input-group-btn"><span class="btn btn-md btn-success">Search</span></span>
										<input type="text" class="form-control" ng-model="fx.search.term" placeholder="search/filter by town or Round ID">
									</div>
								</form>
							</div>
						</div>
						<h3>
							<i class="fa fa-arrow-circle-left back" ng-click="fx.setRedWindow('pubs')" ng-hide="fx.currentRedWindow == 'pubs'"></i>
							{{ fx.currentRedWindow == 'pubs' ? "Publications" : "Redelivery Info" }}
						</h3>
						<ul ng-show="fx.currentRedWindow == 'pubs'" class="results red text-left">
							<li ng-repeat="pub in fx.redPubs" ng-click="fx.getPubRedeliveries(pub)">
								<i class="fa fa-newspaper-o paper"></i><span>{{ pub.name }}</span>
							</li>
						</ul>
						<ul ng-show="fx.currentRedWindow == 'reds'" class="results red long text-left">
							<li class="row">
								<span class="col-xs-2 tHeader">Publication</span>
								<span class="col-xs-2 tHeader">Town</span>
								<span class="col-xs-2 tHeader">Round ID</span>
								<span class="col-xs-2 tHeader">M-F</span>
								<span class="col-xs-2 tHeader">Saturday</span>
								<span class="col-xs-2 tHeader">Sunday</span>
							</li>
							<li class="row reds" ng-repeat="r in fx.redeliveries | filter:fx.search.term">
								<span class="col-xs-2"> {{ r.publication || fx.selectedRedPub.name }} </span>
								<span class="col-xs-2"> {{ r.town || "Not Available" }} </span>
								<span class="col-xs-2"> {{ r.round_id || "Not Available" }} </span>
								<span class="col-xs-2"> {{ r.cutoff_mf }} </span>
								<span class="col-xs-2"> {{ r.cutoff_sat }} </span>
								<span class="col-xs-2"> {{ r.cutoff_sun }} </span>
							</li>
						</ul>
					</div>
				</div>
			</search-overlay>
		<overlay-two 
			loading="fx.postingComment" 
			new-comment="fx.newComment(body)" 
			show-new="fx.showNew" 
			set-show-new="fx.setShowNew()" 
			comments="fx.testComments"
			show-on="fx.showDocOverlay"
			>
		</overlay-two>
		<div id="sub-overlay-unique" class="hide"></div>
		</div>
		<unread-messages></unread-messages>
</div>
	
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/angular.min.js"></script>
<script type="text/javascript" src="javascripts/angular-sanitize.min.js"></script>
<script type="text/javascript" src="javascripts/navigation.js"></script>
<script type="text/javascript" src="javascripts/gadget-helper.js"></script>
<script type="text/javascript" src="javascripts/templates.js"></script>
<script type="text/javascript" src="javascripts/util.js"></script>
<script type="text/javascript" src="javascripts/ng/apps/MasterApp.js"></script>
<script type="text/javascript" src="javascripts/ng/factories/suburbs.js"></script>
<script type="text/javascript" src="javascripts/ng/factories/redeliveries.js"></script>
<script type="text/javascript" src="javascripts/ng/controllers/messages/UnreadMessages.js"></script>
<script type="text/javascript" src="javascripts/fairfax/ng-fairfax.js"></script>
<script type="text/javascript">
	
</script>