div.container{
	font-family: Myriad Pro, sans-serif;
}
div.container.main{
	margin-bottom: 30px;
	min-height: 700px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
}

#managerHome{
	margin-right: auto;
	margin-left: auto;
}

ul.navList{
	text-decoration: none;
	
}
ul.navList > li{
	text-decoration: none;
}
li > a.active{
	background-color: white;
	color: black;
}
div.navContainer{
	background-color: #eee;
	margin-left: -15px;
	margin-right: -15px;
}

div.container > .navbar-header{
	margin-left: 0px;
}