div.container.main{
	margin-bottom: 30px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
}

#managerHome{
	margin-right: auto;
	margin-left: auto;
}

.navList{
	text-decoration: none;
}
ul.navList > li {
	float: left;
	padding-left: 20px;
	padding-top: 15px;
}

.navContainer{
	background-color: #eee;
}