<!--<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css" media="screen" /> -->
<!--[if IE 9]>
<script src="//cdn.rawgit.com/jpillora/xdomain/0.6.17/dist/xdomain.min.js"></script>
<script>
  xdomain.slaves({
    'https://lit-inlet-2632.herokuapp.com': '/web/IE9/proxy.html'
  });
</script>
<![endif]-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/cdc/main.css" type="text/css" media="screen" />

<div class="main row" ng-app="App" ng-controller="cdcController as cdc">
	<div class="col-xs-9 contentColumn">
		<div class="row headerContainer">
			<div class="col-xs-12">
				<ul class="breadcrumb blue text-left"></ul>
				<h2 class="header"><img src="images/cdc.png">Knowledge Base</h2>
			</div>
		</div>
		<div class="container">
			<div class="row" check-width>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<img id="swirl" src="images/cdc/cdc_swirl.png">
							<a class="pull-right ht" open-overlay="cdc.showDocOverlay" open-overlay="cdc.showDocOverlay" opendoc="DOC-214202" get-comments="cdc.getComments(doc)">
								<img id="flame" src="images/flame.png">
								<span>HOT TOPICS</span>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-7">
							<div class="searchContainer">
								<label>Search A to Z List: &nbsp</label>
								<loader loading="cdc.loading.topics" size="1em"></loader>
								<button class="btn btn-xs btn-orange" ng-click="cdc.getAllTopics('A','D')">A-D</button>
								<button class="btn btn-xs btn-orange" ng-click="cdc.getAllTopics('E','J')">E-J</button>
								<button class="btn btn-xs btn-orange" ng-click="cdc.getAllTopics('K','R')">K-R</button>
								<button class="btn btn-xs btn-orange" ng-click="cdc.getAllTopics('S','Z')">S-Z</button>
								<input ng-model="cdc.dualSearch" type="checkbox" name="both" id="check" checked> Auto Search PRs 
								<form ng-submit="cdc.searchTopics(data.atoz)">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="search blue btn btn-sm"><i class="fa fa-search fa-2x"></i></button>
										</span>
										<input type="text" class="form-control" ng-model="data.atoz" placeholder="search or select a range">
									</div>
								</form>
								<div el-width="94%" class="dropdown" ng-if="cdc.topics.length > 0">
									<button el-width="35%" class="pull-right pointer btn btn-xs btn-warning closeBar" ng-click="cdc.close('atoz')">Close</button>
									<ul class="topics">
										<li ng-repeat="topic in cdc.topics | filter:data.atoz"> 
											<button ng-click="cdc.getTopic(topic)" class="btn btn-xs btn-info more">More</button>
											<span>{{ topic.topic }} </span>
											<ul class="info" ng-if="cdc.isCurrentTopic(topic)">
												<li>AKA: {{ cdc.topicInfo.aka }} </li>
												<li ng-class="cdc.topicInfo.scope == 'ESCALATE' ? 'esc' : 'none'">
													Scope: {{ cdc.topicInfo.scope }} 
												</li>
												<li>Notes: {{ cdc.topicInfo.notes }} </li>
												<li>Owner: {{ cdc.topicInfo.owner }} </li>
												<li>Link: <span ng-bind-html="cdc.topicInfo.cdc_link | linky"></span> </li>
												<li>Program Flow: {{ cdc.topicInfo.aka }} </li>
												<li>Spanish? {{ cdc.topicInfo.aka ? "YES" : "NO" }} </li>
												<li>PRs? {{ cdc.topicInfo.aka ? "YES" : "NO" }} </li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-5">
							<div class="searchContainer">
								<label for="pr">PR Search</label>
								<loader loading="cdc.loading.prs" size="1em"></loader>
								<form ng-submit="cdc.prSearch(data.pr)">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="search blue btn btn-sm"><i class="fa fa-search fa-2x"></i></button>
										</span>
										<input name="pr" type="text" class="form-control" ng-model="data.pr" placeholder="{{data.atoz.length > 0 ? data.atoz : 'search for prs'}}">
									</div>
								</form>
								<div el-width="92%" class="dropdown" ng-if="cdc.prs.length > 0">
									<button el-width="23%" class="pull-right pointer btn btn-xs btn-warning closeBar" ng-click="cdc.close('pr')">Close</button>
									<ul class="topics">
										<li class="pr" ng-repeat="pr in cdc.prs"> 
											<p>
												<span> {{ pr.subject }} </span>
												<a class="btn btn-xs btn-info" target="_blank" open-overlay="cdc.showDocOverlay" opendoc="{{cdc.getDocNum(pr.resources.html.ref)}}" get-comments="cdc.getComments(doc)">Open</a>
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-xs-7">
							<div class="searchContainer">
								<label>Address Book</label>
								<loader loading="cdc.loading.ab" size="1em"></loader>
								<form >
									<div class="input-group">
										<span class="input-group-btn">
											<button class="search orange btn btn-sm"><i class="fa fa-search fa-2x"></i></button>
										</span>
										<input type="text" class="form-control" ng-model="ab" placeholder="begin typing to see filter results">
									</div>
								</form>
								<div el-width="94%" class="dropdown" ng-if="ab.length > 0">
									<button el-width="35%" class="pull-right pointer btn btn-xs btn-warning closeBar" ng-click="cdc.close('ab')">Close</button>
									<ul class="topics">
										<li ng-repeat="entry in cdc.entries | filter:ab"> 
											<button ng-click="cdc.getEntry(entry)" class="btn btn-xs btn-info more pull-left">More</button>
											<div class-"pull-right text-left"> 
												<span>{{ entry.ProgramDescription }} </span>
												<span class="tiny" ng-if="entry.AlternateTopicName" >AKA: {{ entry.AlternateTopicName }} </span>
												<ul class="info" ng-if="cdc.isCurrentEntry(entry)">
													<li>Owner: {{ cdc.entryInfo.Owner }} </li>
													<li>Email: {{ cdc.entryInfo.EmailAddress }} </li>
													<li>Comments: {{ cdc.entryInfo.CommentText }} </li>
													<li>First Name: {{ cdc.entryInfo.FirstName }} </li>
													<li>Last Name: {{ cdc.entryInfo.LastName }} </li>
													<li>Owner: {{ cdc.entryInfo.WorkPhone }} </li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-5">
							<div class="searchContainer">
								<label for="pr">Country Search</label>
								<form >
									<div class="input-group">
										<span class="input-group-btn">
											<button class="search orange btn btn-sm"><i class="fa fa-search fa-2x"></i></button>
										</span>
										<input name="countries" type="text" class="form-control" ng-model="data.countries" placeholder="search for countries">
									</div>
								</form>
								<div el-width="92%" class="dropdown" ng-if="data.countries.length > 0">
									<button el-width="23%" class="pull-right pointer btn btn-xs btn-warning closeBar" ng-click="cdc.close('countries')">Close</button>
									<ul class="topics">
										<li ng-repeat="country in cdc.countries | filter:data.countries"> 
											<p>
												<span class="pull-left"> {{ country.name }} </span>
												<a 	class="pull-right" 
													target="_blank" 
													open-overlay="cdc.showDocOverlay" opendoc="{{cdc.getDocNum(country.doc)}}" get-comments="cdc.getComments(doc)">
													Open
												</a>
											</p>
											<div style="clear: both;"></div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 text-center link-group">
							<h1>Quick Links</h1>
							<ul class="links">
								<li><i class="fa fa-chevron-right"></i><a>Random CDC Link One</a></li>
								<li><i class="fa fa-chevron-right"></i><a>Random CDC Link Two</a></li>
								<li><i class="fa fa-chevron-right"></i><a>Random CDC Link Three</a></li>
							</ul>
						</div>
						<div class="col-xs-6 text-center link-group">
							<h1>Job Aids</h1>
							<ul class="links">
								<li><i class="fa fa-chevron-right"></i><a>Random CDC Link One</a></li>
								<li><i class="fa fa-chevron-right"></i><a>Random CDC Link Two</a></li>
								<li><i class="fa fa-chevron-right"></i><a>Random CDC Link Three</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-3 gamificationColumn">
		<div class=" widgetContainer">
			<div class=" gameContainer">
				<div class="row text-center">
					<div class="col-xs-1 text-center gBadge" ng-repeat="m in cdc.top_three">
						<img show-title ng-src="{{m.badge_url}}" ng-alt="{{ m.bunchball_name }}" >
						<div class="gTitle hide"> {{ m.bunchball_name }} </div>
						<div class="gDescContainer" ng-if="m.game_type == 'EmpowerMission'">
							<span class="gDesc"> {{ m.game.metric_name }} </span>
							<span class="gDesc">Target: {{ m.game.target }} </span>
						</div>
						<div class="gDescContainer" ng-if="m.game_type == 'JiveMission'">
							<span class="gDesc"> Jive Mission </span>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center">
				<a id="toGame" class="btn btn-sm btn-success" ng-click="cdc.go('gamification-central')">Gamification Home</a>
			</div>
			<leaderboard people="cdc.leaders"></leaders>
		</div>
	</div>
	<!-- END Page Content -->
	
	<overlay-two 
		loading="cdc.postingComment" 
		new-comment="cdc.newComment(body)" 
		show-new="cdc.showNew" 
		set-show-new="cdc.setShowNew()" 
		comments="cdc.testComments" 
		show-on="cdc.showDocOverlay"
	>
	</overlay-two>
	<unread-messages></unread-messages>
</div>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/angular.min.js"></script>
<script type="text/javascript" src="javascripts/angular-sanitize.min.js"></script>
<script type="text/javascript" src="javascripts/navigation.js"></script>
<script type="text/javascript" src="javascripts/gadget-helper.js"></script>
<script type="text/javascript" src="javascripts/templates.js"></script>
<script type="text/javascript" src="javascripts/util.js"></script>
<script type="text/javascript" src="javascripts/ng/apps/MasterApp.js"></script>
<script type="text/javascript" src="javascripts/ng/controllers/messages/UnreadMessages.js"></script>
<script type="text/javascript" src="javascripts/cdc/ng-cdc.js"></script>
<script type="text/javascript">
	gadgets.util.registerOnLoadHandler(function() {
		navigation.init(gadgets.views.getParams(), function(){
			util.adjustHeight();
		});
	});
</script>