<!--<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css" media="screen" /> -->
<!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->
<!--[if IE 9]>
<script src="//cdn.rawgit.com/jpillora/xdomain/0.6.17/dist/xdomain.min.js"></script>
<script>
  xdomain.slaves({
    'https://lit-inlet-2632.herokuapp.com': '/web/IE9/proxy.html'
  });
</script>
<![endif]-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/message.css" type="text/css" media="screen" />

<div class="container main" ng-app="App" ng-controller="ViewMessages as view">
	<h2>Your Announcements <span class="tiny">(showing last 15)</span></h2>
	<input class="form-control" type="text" placeholder="type to filter" ng-model="data.filter">
	<div class="messageContainer" ng-repeat="m in view.allMessages | filter:data.filter">
		<h4>Sent by: 
			<a ng-href="/people/{{m.sender.employee_id}}" target="_blank">
				{{ m.sender.name ? m.sender.name : m.sender.employee_id }}
			</a>
			<span class="tiny">{{ m.sent_ago }}</span>
		</h4>
		<div class="msg-body"> 
			<p ng-bind-html="m.text | parseUrlFilter:'_blank'"></p>
			<button ng-hide="m.acknowledged" class="btn btn-xs btn-success" ng-click="view.acknowledge(m)">Acknowledge</button>
			<span class="tiny alert alert-info" ng-show="m.acknowledged" js-time="{{m.milli}}"></span>
		</div>
	</div>
</div>

<script type="text/javascript" src="javascripts/angular.min.js"></script>
<script type="text/javascript" src="javascripts/angular-sanitize.min.js"></script>
<script type="text/javascript" src="javascripts/util.js"></script>
<script type="text/javascript" src="javascripts/navigation.js"></script>
<script type="text/javascript" src="javascripts/ng/apps/MasterApp.js"></script>
<script type="text/javascript" src="javascripts/ng/controllers/messages/ViewMessages.js"></script>
<script type="text/javascript">
	gadgets.util.registerOnLoadHandler(function() {
		gadgets.window.adjustHeight();
		gadgets.window.adjustWidth();
	});
</script>
