<!--<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css" media="screen" /> -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/simple-sidebar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/fairfax/sales.css" type="text/css" media="screen" />

<div class="main" ng-app="App" ng-controller="Fairfax as fx" >
	<div class="row headerContainer">
		<div class="col-xs-9">
			<ul class="breadcrumb text-left"></ul>
			<h2 class="header">NZ Inbound Sales</h2>
		</div>
		<div class="col-xs-3 gameContainer">
			<div class="row text-center">
				<div class="col-xs-1 gBadge">
					<img src="images/fairfax/badge_heart.png" alt="Well Played" >
					<label>Winner!</label>
				</div>
				<div class="col-xs-1 gBadge">
					<img src="images/fairfax/badge_radio.png" alt="Well Played" >
					<label>Winner!</label>
				</div>
				<div class="col-xs-1 gBadge">
					<img src="images/fairfax/badge_medal.png" alt="Winner" >
					<label>Winner!</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9">
			<div class="row row-centered tabContainer">
				<div class="col-xs-4">
					<div class="peter-river-flat-button category">
						Systems
						<div class="links text-left">
							<a opendoc="DOC-1597"><i class="fa fa-github"></i>Paystation</a>
							<a opendoc="DOC-1596"><i class="fa fa-github"></i>OWA</a>
							<a opendoc="DOC-1595"><i class="fa fa-github"></i>Matrix</a>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="peter-river-flat-button category">
						Processes
						<div class="links text-left">
							<a opendoc="DOC-1601"><i class="fa fa-github"></i>Billing</a>
							<a opendoc="DOC-1602"><i class="fa fa-github"></i>Email and Call Handling</a>
							<a opendoc="DOC-1603"><i class="fa fa-github"></i>Escalations</a>
							<a opendoc="DOC-1604"><i class="fa fa-github"></i>Subscriptions</a>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="peter-river-flat-button category">
						General
						<div class="links text-left">
							<a opendoc="DOC-1598"><i class="fa fa-github"></i>Notices</a>
							<a opendoc="DOC-1599"><i class="fa fa-github"></i>Ad Classifications</a>
							<a opendoc="DOC-1600"><i class="fa fa-github"></i>Format and Layout</a>
						</div>
					</div>
				</div>
			</div>
			<input id="hideTimers" type="checkbox" ng-model="hideTimers" >Hide Timers
			<div class="row row-centered pubs">

				<div class="col-xs-4 logo text-center" ng-click="fx.select('dompost')">
					<img pub src="images/fairfax/dp.jpg" alt="Dominion Post">
					<timer ng-hide="hideTimers" class="timer" deadline="10:00" alert-at="5" pub="Dominion Post"></timer>
				</div>
				<div class="col-xs-4 logo" ng-click="fx.select('manawatu-standard')">
					<img pub src="images/fairfax/ms.png" alt="Manawatu Standard">
					<timer ng-hide="hideTimers" class="timer" deadline="16:10" alert-at="5" pub="Manawatu Stnadard"></timer>
				</div>
				<div class="col-xs-4 logo" ng-click="fx.select('marlborough')">
					<img pub src="images/fairfax/marl.png" alt="Marlborough Express">
					<timer ng-hide="hideTimers" class="timer" deadline="16:00" alert-at="5" pub="Marlborough Express"></timer>
				</div>
				<div class="col-xs-4 logo" ng-click="fx.select('nelson-mail')">
					<img pub src="images/fairfax/nelson_mail.jpg" alt="Nelson Mail">
					<timer ng-hide="hideTimers" class="timer" deadline="17:10" alert-at="5" pub="Nelson Mail"></timer>
				</div>
				<div class="col-xs-4 logo" ng-click="fx.select('the-press')">
					<img pub src="images/fairfax/press.jpg" alt="The Press">
					<timer ng-hide="hideTimers" class="timer" deadline="14:10" alert-at="5" pub="The Press"></timer>
				</div>
				<div class="col-xs-4 logo" ng-click="fx.select('southland-times')">
					<img pub src="images/fairfax/s_times.jpg" alt="Southland Times">
					<timer ng-hide="hideTimers" class="timer" deadline="16:15" alert-at="5" pub="Southland Times"></timer>
				</div>
				<div class="col-xs-4 logo" ng-click="fx.select('smh')">
					<img pub src="images/fairfax/smh.jpg" alt="Sydney Morning Herald">
					<timer ng-hide="hideTimers" class="timer" deadline="12:00" alert-at="5" pub="Sydney Morning Herald"></timer>
				</div>
				<div class="col-xs-4 logo" ng-click="fx.select('taranaki')">
					<img pub src="images/fairfax/Taranaki_NZ.jpg" alt="Taranaki NZ">
					<timer ng-hide="hideTimers" class="timer" deadline="16:00" alert-at="5" pub="Taranaki NZ"></timer>
				</div>
				
				<div class="col-xs-4 logo" ng-click="fx.select('timaru-times')">
					<img pub src="images/fairfax/timaru.jpg" alt="Timaru Times">
					<timer ng-hide="hideTimers" class="timer" deadline="16:30" alert-at="5" pub="Timaru Times"></timer>
				</div>
				<div class="col-xs-4 logo" ng-click="fx.select('waikato-times')">
					<img pub src="images/fairfax/waikatotimes.jpg" alt="Waikato Times">
					<timer ng-hide="hideTimers" class="timer" deadline="15:00" alert-at="5" pub="Waikato Times"></timer>
				</div>
			</div>
		</div>
		<div class="col-xs-3 widgetContainer">
			<div class="widget text-center">
				<h5>Leaderboard</h5>
				<ul class="leaderboard text-left">
					<li class="person" ng-repeat="person in fx.people">
						<span class="badge"> {{ $index+1 }} </span>
						<img class="avatar" ng-src="{{ person.resources.avatar.ref }}"></img>
						<span class="name"> {{ person.displayName }} - {{ (1000 / ($index+1)) | number:0 }} points </span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-if="fx.pubSelected" class="specContainer row">
		<h2 class="header" style="margin-left: 15px;">
			Showing Docs For: {{ fx.selected }} 
			<button class="btn btn-md btn-info" ng-click="fx.getPubs()">Click to See Deadlines</button>
		</h2>
		<div class="col-xs-4" id="rates">
			<div class="spec text-center">
				<h1>Rates</h1>
				<div class="alert alert-danger" ng-if="fx.rates.length == 0"> No Rates found for {{ fx.selected }} </div>
				<ul class="text-left">
					<li class="match" ng-repeat="rate in fx.rates" opendoc="{{ rate.id }}">
						<a>{{ rate.subject }}</a>
						<ul class="desc">
							<li ng-bind-html="fx.getBlockQuote(rate.content.text)"> </li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-4" id="geos">
			<div class="spec text-center">
				<h1>Geos And Mastheads</h1>
				<div class="alert alert-danger" ng-if="fx.geos.length == 0"> No Geos found for {{ fx.selected }} </div>
				<ul class="text-left">
					<li class="match" ng-repeat="geo in fx.geos" opendoc="{{ geo.id }}">
						<a>{{ geo.subject }}</a>
						<ul class="desc">
							<li ng-bind-html="fx.getBlockQuote(geo.content.text)"> </li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-4" id="marketing">
			<div class="spec text-center">
				<h1>Marketing Campaign</h1>
				<div class="alert alert-danger" ng-if="fx.marketing.length == 0"> No Marketing Material found for {{ fx.selected }} </div>
				<ul class="text-left">
					<li class="match" ng-repeat="mc in fx.marketing" opendoc="{{ mc.id }}">
						<a>{{ mc.subject }}</a>
						<ul class="desc">
							<li ng-bind-html="fx.getBlockQuote(mc.content.text)"> </li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Page Content -->
	<div id="deadlineOverlay" class="container overlay text-center" ng-if="fx.deadlines">
		<i class="fa fa-close fa-2x" ng-click="fx.setDeadlines(false)"></i>
		<div class="deadlineContainer">
			<h1>Search Deadlines</h1>
			<form ng-submit="fx.getDeadlines(fx.filter)">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-md btn-success searchBtn" >Search</button>
					</span>
					<input type="text" class="form-control" ng-model="fx.filter" placeholder="search or begin typing to filter results">
				</div>
			</form>
			<div class="pubContainer" ng-show="fx.allDeadlines.length == 0">
				<p ng-repeat="pub in fx.pubs | filter:fx.filter">
					<button class="btn btn-xs btn-info get" ng-click="fx.getDeadlines(pub)">Get Deadlines</button>
					<span> {{ pub }} </span>
				</p>
			</div>
			<div ng-if="fx.allDeadlines.length > 0">
				<div class="text-center">
					<h4>Showing deadlines for: {{ fx.dlSelected }}</h4>
					<button class="btn btn-xs btn-warning" ng-click="fx.clearDeadlines()">Clear and Show Publications</button>
				</div>
				<div class="row text-left headerRow">
					<div class="col-xs-4"></div>
					<div class="col-xs-2"><strong>NZ Time</strong></div>
					<div class="col-xs-2"><strong>MLA Time</strong></div>
					<div class="col-xs-2"><strong>Run Day</strong></div>
				</div>
				<div class="text-left day" ng-repeat="day in fx.allDeadlines" ng-if="day.deadlines.length > 0">
					<h3> {{ day.day }} </h3>
					<div class="row" ng-repeat="dl in day.deadlines | filter:fx.filter">
						<div class="col-xs-4"> {{ dl.publication }} </div>
						<div class="col-xs-2"> {{ dl.nz_time }} </div>
						<div class="col-xs-2"> {{ dl.mla_time }} </div>
						<div class="col-xs-2"> {{ dl.run_day }} </div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<overlay close-color="red" >
		<h2>TEST</h2>
	</overlay>
</div>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/angular.min.js"></script>
<script type="text/javascript" src="javascripts/angular-sanitize.min.js"></script>
<script type="text/javascript" src="javascripts/navigation.js"></script>
<script type="text/javascript" src="javascripts/gadget-helper.js"></script>
<script type="text/javascript" src="javascripts/templates.js"></script>
<script type="text/javascript" src="javascripts/util.js"></script>
<script type="text/javascript" src="javascripts/ng/apps/MasterApp.js"></script>
<script type="text/javascript" src="javascripts/fairfax/ng-fairfax.js"></script>
<script type="text/javascript">
	gadgets.util.registerOnLoadHandler(function() {
		navigation.init(gadgets.views.getParams(), function(){
			util.adjustHeight();
		});
	});
</script>